@font-face {
    font-family: Harry P;
    src: url(../fonts/HARRYP__.TTF);
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1{
    font-family: 'Harry P', Times, serif;
    font-size: 10em;
    font-weight: normal;
}

P{
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;  
}

.login_header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-bottom: 50px;
}

.login_header img{
    width: 120px;
}

.login_header h1{
    color: black;
    font-size: 6.5em;
}

.login_input{
    border: 2px solid #000;
    border-radius: 8px;
    color: black;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login_button{
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.login_button:disabled{
    background-color: rgb(223, 223, 223) ;
    color: rgb(134, 134, 134);
    cursor: auto;
}